<div class="alert">
  <span
    >2022-09-28 01:46UTC — Some relays reporting stale data, statistics may be
    incorrect.</span
  >
</div>

<style lang="scss">
  .alert {
    padding: 4px 24px;
    text-align: center;
    background-color: #ffcccc;

    > span {
      font-family: monospace;
      font-size: 12px;
      line-height: 18px;
    }
  }
</style>
