---
import Stat from "../components/Stat.astro";
import Layout from "../layouts/Layout.astro";
import type { StatsResponse } from "./stats";

// Collect statistics
const stats: StatsResponse = await (
  await fetch("http://localhost:3000/stats")
).json();
console.log(stats);
---

<Layout>
  <main>
    <div class="stat-list">
      <Stat
        title="Payload count"
        value="1,920"
        context="Total payloads delivered by all relays."
      />
    </div>
  </main>
</Layout>
